# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# Node
node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db
